@import "../../../scss/config/all";

header {
    //TODO: Figure out bg image path build issues
    // background: url("../../../static/img/jpgimage.jpg");
    // background-size: cover;
    // background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80px;
    padding: 20px;
    background-color: brand-color(primary);
    nav {
        ul {
            list-style-type: none;
            li {
                display: inline;
                padding-right: 15px;
            }
        }
    }
}
