:root {
    --text: #222;
}

body {
    color: var(--text);
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
}

button {
    font-size: 1.6rem;
}
